// break points for responsivness

$primary: #5465ff;


$text-primary: #656667;
$text-dark: #363636;

$primary-hover: rgb(224, 76, 8);

$bg-active:#95BAEB;

$fs-primary :18px;
$fs-secondary :13px;

$br-primary: 14px;
$br-secondary: 8px;


/* responsive */
$breakpoints: (
  xs: 320px,
  sm: 800px,
  md: 1000px,
  lg: 1200px,
  xl: 1600px,
);

@mixin media($keys...) {
  @each $key in $keys {
    @media (max-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
}
/* **************************/

@mixin flexbox($direction: row, $justify: center, $content: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $content;
  }

  @mixin boxShadow {
    -webkit-box-shadow: 0px 3px 10px 5px rgba(3, 16, 47, 0.31);
    box-shadow: 0px 3px 10px 5px rgba(3, 16, 47, 0.31);
  }