
.aside{
    background-color: $secondary;
    


   

    .mobileMenu{
        display: none;
        @include media(sm){
            display:flex;
        }
    }
    .desktopMenu,
    .menuItems{
        width: 220px;
        @include flexbox(column,start);
        height: 100vh;
        position: sticky;
        bottom: 0px;
        top:0px;
        overflow-y: auto;


        li{
            list-style-type: none;
            width: 100%;
            text-align: center;
            padding: 15px 5px;
        }
    }

    .desktopMenu{
        @include media(sm){
            display: none;
        }
    }
}