*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@import 'variables';
@import "pages/Home";
@import 'Components/Aside.scss';



body{
   .App{
    @include flexbox(row,start,start);
    @include media(sm){
        @include flexbox(column);
    }
   }

   font-family: $font-family;
}
